<div class="container">
    <h1 class="h1 display-3" style="color:black">Hello! I am Ramesh</h1>
    <blockquote class="blockquote">
        <h2 class="h2 text-muted">Full Stack .Net Developer based in US.</h2>
    </blockquote>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 class="h3">SERVICE</h3>
    <h3 class="h3 text-muted">Web Applications and Mobile Apps </h3>
    <div>
        <button class="btn btn-primary">Discover</button>
        <button class="btn btn-success" style="margin-left: 10px;">Contact Me</button>
    </div>
    <br>
</div>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Experience
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div>2020 - 2022</div>
            <h6 class="h6">Software Developer</h6>
            <h6 class="h6 text-muted">Paycom, Oklahoma City, OK</h6>
            <p> • Developed Custom Report software for small and big businesses/clients using their workforce data.<br>
                • Researched, identified needed solutions, and managed multiple projects.<br>
                • Troubleshooted business and production issues by gathering information and collaborating with the QA team, app support, and business team.<br>
                • Worked on Software Development Life Cycle (SDLC) starting from requirements gathering, performing object-oriented analysis, design, implementation, testing, and maintenance using agile methodology.<br>
                • Managed multiple projects by reviewing requirements and turning them into technical solutions.<br>
                • Proposed modifications to processes and procedures, best practice contributions, and architecture.<br>
                • Developed software with PHP, JavaScript, C#, MySQL, and .Net frameworks that generates client-specific reports resulting in EDI (Electronic Data Interchange) and other interfacing technologies.
            </p>

            <div>2019 - 2020</div>
            <h6 class="h6">Software Developer</h6>
            <h6 class="h6 text-muted">Devon Energy, Oklahoma City, OK</h6>
            <p>
                • Involved in all phases of software development including requirement gathering, developing features and stories, estimating story points, performing object-oriented analysis, design and implementation adopting agile methodology.<br>
                • Designed responsive user interfaces for operational dashboards and grids using Angular Material and PrimeNG User Interface (UI) libraries.<br>
                • Created and maintained RESTful web services with C#, Entity Framework, and ASP .NET Web API.<br>
                • Executed efficient SQL queries for SQL Server database operations for high performance and optimization to retrieve or update application data.<br>
            </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Education
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div>
                <div>2017 - 2019</div>
                <h6 class="h6">Mississippi State University, Mississippi State, MS, US</h6>
                <h6 class="h6 text-muted">Bachelor of Science in Computer Science</h6>
              
                <div>2015 - 2017</div>
                <h6 class="h6">Houston Community College, Houston, TX, US</h6>
                <h6 class="h6 text-muted">Associate in Science</h6>
              
                <div>2011 - 2013</div>
                <h6 class="h6">St. Xavier's College, Kathmandu, Nepal</h6>
                <h6 class="h6 text-muted">High School Diploma in Engineering Science</h6>
            </div> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Technical Skills
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div>
                <div>C#, PHP, SQL Server, MySQL, Angular, ASP.NET Web API, ASP.NET MVC, Azure, JavaScript, HTML5, CSS</div>
            </div> 
        </div>
      </div>
    </div>
  </div>